<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Menu</title>
</head>
<body>
    <style>
        ul li{
            list-style:none;
            text-decoration:solid;
        }
        
    </style>
    <h1 id = "home">Menu list </h1>
<ul>
    <li><div class="clothes">Pants</div></li>
    <li><div class="clothes">Tee</div></li>
    <li><div class="clothes">Hoodie</div></li>
    <li><div class="clothes">Denim</div></li>
    <li><div class="clothes">Jean</div></li>
</ul>
<script src="/javascripts/test.js"></script>
</body>
</html>